@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
 --blue-dark: hsl(240, 38%, 20%);
 --blue-gray: hsl(240, 18%, 77%);
 --fs: 32px;
 --fw-regular: 300;
 --fw-medium: 500;
 --fw-bold: 700;
 --ff: 'Inter', sans-serif;
 
 font-family: var(--ff);
 font-size: var(--fs);
 font-weight: var(--fw-regular);
 color: var(--blue-dark);
}

body {
 margin: 0;
 min-height: 100vh;
 
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;

 background-image: url(images/pattern-curve.svg);
 background-repeat: no-repeat;
 background-size: 70%;
 background-origin: content-box;
 background-position: bottom left;
}

main {
 width: 100%;
 padding: 1rem 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

.testimonial {
 width: 90%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.testimonial--statement-container {
 background-image: url(images/pattern-quotes.svg);
 background-repeat: no-repeat;
 background-size: 2rem;
 background-origin: content-box;
 background-position: top;
}

.testimonial__statement {
 margin-top: .9rem;
 font-size: .6rem;
 width: 28ch
}

.testimonial__student {
 font-size: .5rem;
}

.testimonial__student__full-name,
.testimonial__student__job-role {
 margin: 0;
}

.testimonial__student__job-role {
 color: var(--blue-gray);
 font-weight: var(--fw-medium);
}

.testimonial--slider-container {
 max-width: 697px;
 background-image: url(images/pattern-bg.svg);
 background-repeat: no-repeat;
 background-size: contain;
 background-origin: content-box;
 background-position: center;
}

.testimonial__student-image {
 border-radius: 5px;
 margin-top: .9rem;
 height: auto;
 width: 75%;
}

.testimonial__slider {
 padding: 0;
 height: 40px;
 width: 80px;
 margin-top: -20px;
 margin-bottom: 10px;
 background-color: white;
 border-radius: 20px;

 display: flex;
 justify-content: space-between;
 align-items: center;
}

.testimonial__slider > *:hover {
 cursor: pointer;
}

.testimonial__slider__prev,
.testimonial__slider__next {
 margin: 5px;
 background-color: transparent;
 border: none;
}

.testimonial__slider__icon {
 width: 80%;
 height: auto;
}

.attribution {
 font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 720px) {
 body {
  justify-content: center;
 }

 main {
  width: 90%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
 }

 .testimonial {
  text-align: left;
 }

 .testimonial--statement-container {
  margin-right: -20%;
 }

 .testimonial--slider-container {
  max-width: 700px;
 }

 .testimonial__student-image {}

 .testimonial__statement {
  margin-top: .9rem;
  font-size: 1rem;
  width: 32ch
 }

}